/* reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu,
nav, object, ol, output, p, pre, q, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u,
ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* basic styles */
body {
	box-sizing: border-box;
	color:#000;
	background: #fff;
	font-size: 16px;
	font-family: "Nimbus Sans L", "URW Gothic L", Verdana, Tahoma,
		Helvetica, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
}

h1 {
	font-size: 36px;
}

h2 {
	padding-bottom: 10px;
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 10px 0 15px 0;
}

a {
	text-decoration: none;
	color: #007edf;
	text-shadow: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

footer a {
	color: #f2f2f2;
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

img {
	position: relative;
	margin: 0 auto;
	max-width: 739px;
	padding: 5px;
	margin: 10px 0 10px 0;
}

p img {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	border: none;
}

pre, code {
	color: #222;
	background-color: #f8f8c0;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
		Terminal, monospace;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* overwrite .highlight style for inline code elements */
code.highlight {
        background-color: #f8f8c0;
}

code[data-gist-id] {
	box-shadow: none;
	padding: 0;
}

code[data-gist-id] pre {
	font-size: 12px;
}

code[data-gist-id] table {
	border: none;
	margin: 0;
}

pre {
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	overflow: auto;
}

code {
	padding: 3px;
	margin: 0 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
	display: block;
	box-shadow: none;
}

blockquote {
	color: #666;
	margin-bottom: 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #bbb;
}


ul, ol, dl {
	margin-bottom: 15px
}

ul {
	list-style: disc outside none;
	padding-left: 1em;
	margin-left: 1em;
}

ol {
	list-style: decimal outside;
	padding-left: 1em;
	margin-left: 1em;
}

dl dt {
	font-weight: bold;
}

dl dd {
	padding-left: 20px;
	font-style: italic;
}

dl p {
	padding-left: 20px;
	font-style: italic;
}

table {
	border: 1px solid #373737;
	margin-bottom: 20px;
	text-align: left;
}

th {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica,
		Arial, sans-serif;
	padding: 10px;
	background: #373737;
	color: #fff;
}

td {
	padding: 10px;
	border: 1px solid #373737;
}

form {
	background: #f2f2f2;
	padding: 20px;
}

/* region definitions */
#wrap {
	width: 750px;
	margin: 0 auto;
}

#header {
	text-align: center;
	padding: 20px 20px;
}

#header a {
	text-decoration: none;
	color: #000;
	text-shadow: none;
}

h1 {
	margin: 0;
}

#nav {
	padding: 5px 10px;
	border-style: solid;
	border-bottom: 2px solid #000;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	padding: 0 15px 0 15px;
}

#nav a {
	text-decoration: none;
	color: #f04040;
}

#nav a.sel {
	color: #000;
}

#nav a:hover {
	color: #000;
}

#main {
	float: left;
	width: 480px;
	padding: 20px;
}

h2 {
	margin: 0 0 1em;
}

#sidebar {
	float: right;
	width: 190px;
	padding: 20px;
	background: #e8f8f8;
	margin: 150px 0 150px 0;
}

#footer {
	text-align: center;
	font-size: 10px;
	color: #404040;
	clear: both;
	padding: 5px 10px;
}

#footer p {
	margin: 0;
	padding: 20px 20px;
}

* html #footer {
	height: 1px;
}

#postinfo {
	font-size: 10px;
	color: #606060;
}