#
# src/test/testconfig.ps1 -- configuration for local and remote unit tests
#

#
# 1) *** LOCAL CONFIGURATION ***
#
# The first part of the file tells the script unittest/unittest.ps1
# which file system locations are to be used for local testing.
#

#
# Appended to PMEM_FS_DIR and NON_PMEM_FS_DIR to test PMDK with file path longer
# than 255 characters. Due to limitation of powershell you have to use
# UNC prefix (i.e. \\?\c:\tmp) in PMEM_FS_DIR and NON_PMEM_FS_DIR variables.
#
# $Local:LONGDIR = "LoremipsumdolorsitametconsecteturadipiscingelitVivamuslacinianibhattortordictumsollicitudinNullamvariusvestibulumligulaetegestaselitsemperidMaurisultriciesligulaeuipsumtinciduntluctusMorbimaximusvariusdolorid"
#$Env:DIRSUFFIX = "$LONGDIR\$LONGDIR\$LONGDIR\$LONGDIR\$LONGDIR"

#
# For tests that require true persistent memory, set the path to a directory
# on a PMEM-aware file system here. Uncomment this line if there's an
# actual persistent memory available on this system.
#
#$Env:PMEM_FS_DIR = "\mnt\pmem"

#
# For tests that require true a non-persitent memory aware file system (i.e.
# to verify something works on traditional page-cache based memory-mapped
# files) set the path to a directory on a normal file system here.
#
#$Env:NON_PMEM_FS_DIR = "\temp"

#
# If you don't have real PMEM or PMEM emulation set up, but still want to test
# PMEM codepaths uncomment this line. It will set PMEM_IS_PMEM_FORCE to 1 for
# tests that require pmem.
#
#$Env:PMEM_FS_DIR_FORCE_PMEM = "1"

#
# Overwrite default test type:
# check (default), short, medium, long, all
# where: check = short + medium; all = short + medium + long
#
#$Env:TEST_TYPE = "check"

#
# Overwrite available build types:
# debug, release, static-debug, static-release, all (default)
#
#$Env:TEST_BUILD = "all"

#
# Overwrite available filesystem types:
# pmem, non-pmem, any, none, all (default)
#
#$Env:TEST_FS = "all"

#
# Overwrite default timeout
# (floating point number with an optional suffix: 's' for seconds (the default),
# 'm' for minutes, 'h' for hours or 'd' for days)
#
#$Env:TEST_TIMEOUT = "60s"

#
# To display execution time of each test
#
$Env:TM = "1"

#
# Test against installed libraries, NOT the one built in tree.
# Note that these variable won't affect tests that link statically. You should
# disabled them using TEST_BUILD variable.
#
# $Env:PMDK_LIB_PATH_RELEASE = "C:\vcpkg\buildtrees\pmdk\src\1.4.1-0ecc9f7f1f\src\x64\Release"
# $Env:PMDK_LIB_PATH_DEBUG = "C:\vcpkg\buildtrees\pmdk\src\1.4.1-0ecc9f7f1f\src\x64\Debug"

#
# 2) *** REMOTE CONFIGURATION ***
#
# The second part of the file tells the script unittest/unittest.sh
# which remote nodes and their file system locations are to be used
# for remote testing.
#
# XXX - remote capabilities not ported to Windows yet
#
