#
# src/test/testconfig.ps1 -- configuration for local and remote unit tests
#

#
# 1) *** LOCAL CONFIGURATION ***
#
# The first part of the file tells the script unittest/unittest.ps1
# which file system locations are to be used for local testing.
#

#
# For tests that require true persistent memory, set the path to a directory
# on a PMEM-aware file system here.  Comment this line out if there's no
# actual persistent memory available on this system.
#
#$PMEM_FS_DIR = '\mnt\pmem'

#
# For tests that require true a non-persitent memory aware file system (i.e.
# to verify something works on traditional page-cache based memory-mapped
# files) set the path to a directory on a normal file system here.
#
$NON_PMEM_FS_DIR = '\temp'

#
# If you don't have real PMEM or PMEM emulation set up, but still want to test
# PMEM codepaths uncomment this line. It will set PMEM_IS_PMEM_FORCE to 1 for
# tests that require pmem.
#
#$PMEM_FS_DIR_FORCE_PMEM = 1

#
# 2) *** REMOTE CONFIGURATION ***
#
# The second part of the file tells the script unittest/unittest.sh
# which remote nodes and their file system locations are to be used
# for remote testing.
#
# XXX - remote capabilities not ported to Windows yet
#
