.*
!.github
!.gitignore
!.gitattributes
!.cirrus.yml
!.clang-format
!.travis.yml
!.mailmap
!.cstyleignore
!.codecov.yml

*~
*.swp
*.o
make.out
core
a.out
nbproject/
/rpmbuild/
/dpkgbuild/
/rpm/
/dpkg/
/user.mk
*.user
~*
*.db
*.htmp
*.hpptmp
*.aps
tags
*.link

__pycache__/
