.*
!.gitignore
!.gitattributes
!.clang-format
!.travis.yml
!.mailmap
!.cstyleignore

*~
*.swp
*.o
make.out
core
a.out
nbproject/
/rpmbuild/
/dpkgbuild/
/rpm/
/dpkg/
*.user
~*
*.db
*.htmp
*.hpptmp
*.aps
tags
GPATH
GRTAGS
GSYMS
GTAGS
.dir-locals.el
\#*\#
