.*
!.gitignore
!.gitattributes
!.clang-format
!.travis.yml
!.mailmap
!.cstyleignore
!.codecov.yml
!.version

*~
*.swp
*.o
make.out
core
a.out
nbproject/
/rpmbuild/
/dpkgbuild/
/rpm/
/dpkg/
*.user
~*
*.db
*.htmp
*.hpptmp
*.aps
tags
