Gábor Buella <gabor.buella@intel.com>
Hu Wan <wanhu@cnu.edu.cn>
Igor Chorążewicz <igor.chorazewicz@intel.com>
Jacob Chang <jacobc@hpe.com>
Jan M Michalski <jan.m.michalski@intel.com>
Krzysztof Czuryło <krzysztof.czurylo@intel.com>
Łukasz Godlewski <lukasz.godlewski90@gmail.com>
Łukasz Plewa <lukasz.plewa@intel.com>
Maciej Ramotowski <maciej.ramotowski@intel.com>
Paul Luse <paul.e.luse@intel.com>
Paweł Lebioda <pawel.lebioda@intel.com>
Piotr Balcer <piotr.balcer@intel.com>
Sławomir Pawłowski <slawomir.pawlowski@intel.com>
Tomasz Kapela <tomasz.kapela@intel.com>
Weronika Lewandowska <weronika.lewandowska@intel.com>
Wojciech Uss <wojciech.uss@intel.com>
