os: linux
dist: bionic
arch:
  - ppc64le
  - arm64-graviton2

language: c

services:
  - docker

env:
  global:
    - GITHUB_REPO=pmem/pmdk
    - DOCKER_REPO=ghcr.io/pmem/pmdk
    - OS=ubuntu
    - OS_VER=20.04
    - MAKE_PKG=0
    - PMDK_CC=gcc
    - PMDK_CXX=g++
    - REMOTE_TESTS=1
    - VALGRIND=1
    - SRC_CHECKERS=0
    - EXPERIMENTAL=n
  jobs:
    - FAULT_INJECTION=1 TEST_BUILD=debug PUSH_IMAGE=1
    - OS=fedora OS_VER=31 PMDK_CC=clang PMDK_CXX=clang++ TEST_BUILD=nondebug PUSH_IMAGE=1
    - MAKE_PKG=1 REMOTE_TESTS=0 VALGRIND=0
    - MAKE_PKG=1 REMOTE_TESTS=0 VALGRIND=0 OS=fedora OS_VER=31
    - COVERAGE=1 FAULT_INJECTION=1 TEST_BUILD=debug

jobs:
  allow_failures:
    - arch: ppc64le

before_install:
  - echo $TRAVIS_COMMIT_RANGE
  - export HOST_WORKDIR=`pwd`
  - cd utils/docker
  - ./pull-or-rebuild-image.sh

script:
  - ./build-CI.sh

after_success:
  - source ./set-vars.sh
  - if [[ -f $CI_FILE_PUSH_IMAGE_TO_REPO ]]; then ./images/push-image.sh; fi
