dist: trusty
# use temporarily the previous version of Trusty image
# until Travis fixes issue with mounting permissions
group: deprecated-2017Q2

sudo: required

language: c

services:
  - docker

env:
  global:
    - GITHUB_REPO=pmem/pmdk
    - DOCKERHUB_REPO=pmem/pmdk
    - OS=ubuntu
    - OS_VER=19.10
    - MAKE_PKG=0
    - PMDK_CC=gcc
    - PMDK_CXX=g++
    - REMOTE_TESTS=1
    - VALGRIND=1
  matrix:
    - COVERAGE=1 FAULT_INJECTION=1 TEST_BUILD=debug
#    - FAULT_INJECTION=1 TEST_BUILD=debug
#    - FAULT_INJECTION=1 TEST_BUILD=nondebug
#    - PMDK_CC=clang PMDK_CXX=clang++ TEST_BUILD=debug
#    - PMDK_CC=clang PMDK_CXX=clang++ TEST_BUILD=nondebug
#    - OS=fedora OS_VER=31 PMDK_CC=clang PMDK_CXX=clang++ TEST_BUILD=debug
    - OS=fedora OS_VER=31 PMDK_CC=clang PMDK_CXX=clang++ TEST_BUILD=nondebug AUTO_DOC_UPDATE=1
    - MAKE_PKG=1 EXPERIMENTAL=y REMOTE_TESTS=0 VALGRIND=0 NDCTL_ENABLE=n PUSH_IMAGE=1
    - MAKE_PKG=1 EXPERIMENTAL=y REMOTE_TESTS=0 VALGRIND=0 PUSH_IMAGE=1 OS=fedora OS_VER=31
#    - MAKE_PKG=1 EXPERIMENTAL=y REMOTE_TESTS=0 VALGRIND=0 NDCTL_ENABLE=n PMDK_CC=clang PMDK_CXX=clang++
    - COVERITY=1

before_install:
  - echo $TRAVIS_COMMIT_RANGE
  - export HOST_WORKDIR=`pwd`
  - cd utils/docker
  - ./pull-or-rebuild-image.sh

script:
  - ./build-travis.sh

after_success:
  - source ./set-vars.sh
  - if [[ -f $CI_FILE_PUSH_IMAGE_TO_REPO ]]; then ./images/push-image.sh $OS-$OS_VER; fi
