#
# pmembench_rpmem.cfg -- this is an example config file for pmembench
# with scenarios for rpmem benchmark
#

# Global parameters
[global]
group = rpmem
file = testfile.poolset.rpmem
ops-per-thread = 10000
threads = 32
mem-mode = rand-wrap

[rpmem_persist_DS8]
bench = rpmem_persist
persist-relaxed = true
data-size = 8

[rpmem_flush_drain_DS512]
bench = rpmem_flush_drain
flushes-per-drain = 10
flush-relaxed = true
data-size = 512

[rpmem_mixed_DS1024]
bench = rpmem_mixed
# p = rpmem_persist()
# r = rpmem_persist() + RPMEM_PERSIST_RELAXED
# f = rpmem_flush()
# g = rpmem_flush() + RPMEM_FLUSH_RELAXED
# d = rpmem_drain()
workload = rfgdp
data-size = 1024
