#
# pmembench_rpmem.cfg -- this is an example config file for pmembench
# with scenarios for rpmem benchmark
#

# Global parameters
[global]
group = rpmem
file = testfile.poolset.rpmem
ops-per-thread = 10000

[rpmem_persist_DS8]
bench = rpmem_persist
threads = 1:+1:32
data-size = 8

[rpmem_persist_DS512]
bench = rpmem_persist
threads = 1:+1:32
data-size = 512

[rpmem_persist_DS1024]
bench = rpmem_persist
threads = 1:+1:32
data-size = 1024
