#
# pmembench_tx_add_range.cfg -- this is an example config file for pmembench
# with scenarios for pmemobj_tx_add_range benchmark
#

# Global parameters
[global]
group = obj_tx_add_range
file = /mnt/mem/testfile.obj_persist
ops-per-thread = 10000

[pmemobj_tx_add_range_DS8]
bench = pmemobj_tx_add_range
threads = 1
data-size = 8
num-of-allocs = 1000

# [pmemobj_tx_add_range_DS512]
# bench = pmemobj_tx_add_range
# threads = 1
# data-size = 512
# num-of-allocs = 1000

# [pmemobj_tx_add_range_DS1024]
# bench = pmemobj_tx_add_range
# threads = 1
# data-size = 1024
# num-of-allocs = 1000
