# Global parameters
[global]
group = pmemobj
file = ./testfile.lane
ops-per-thread = 100000
threads = 1:*2:32

[allocator_lane]
bench = obj_lanes

[list_lane]
bench = obj_lanes

[transaction_lane]
bench = obj_lanes
