// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2016, Intel Corporation */

/*
 * libpmemobj.rc -- libpmemobj resource file
 */

#include <windows.h>
#define FILE_NAME "libpmemobj.dll"
#define DESCRIPTION "libpmemobj - persistent memory transactional object store"
#define TYPE VFT_DLL
#include <common.rc>