// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2016, Intel Corporation */

/*
 * libpmemblk.rc -- libpmemblk resource file
 */

#include <windows.h>
#define FILE_NAME "libpmemblk.dll"
#define DESCRIPTION "libpmemblk - persistent memory resident array of blocks"
#define TYPE VFT_DLL
#include <common.rc>