// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2016, Intel Corporation */

/*
 * libpmemlog.rc -- libpmemlog resource file
 */

#include <windows.h>
#define FILE_NAME "libpmemlog.dll"
#define DESCRIPTION "libpmemlog - persistent memory resident log file"
#define TYPE VFT_DLL
#include <common.rc>