libpmem2.7
libpmem2_unsafe_shutdown.7
pmem2_badblock_context_new.3
pmem2_badblock_next.3
pmem2_badblock_clear.3
pmem2_config_new.3
pmem2_config_set_length.3
pmem2_config_set_offset.3
pmem2_config_set_protection.3
pmem2_config_set_required_store_granularity.3
pmem2_config_set_sharing.3
pmem2_config_set_vm_reservation.3
pmem2_deep_flush.3
pmem2_errormsg.3
pmem2_get_drain_fn.3
pmem2_get_flush_fn.3
pmem2_get_memmove_fn.3
pmem2_get_persist_fn.3
pmem2_map_delete.3
pmem2_map_from_existing.3
pmem2_map_new.3
pmem2_map_get_address.3
pmem2_map_get_size.3
pmem2_map_get_store_granularity.3
pmem2_async.3
pmem2_source_alignment.3
pmem2_source_from_fd.3
pmem2_source_from_anon.3
pmem2_source_get_fd.3
pmem2_source_numa_node.3
pmem2_source_size.3
pmem2_source_device_id.3
pmem2_source_device_usc.3
pmem2_source_pread_mcsafe.3
pmem2_perror.3
pmem2_vm_reservation_extend.3
pmem2_vm_reservation_get_address.3
pmem2_vm_reservation_get_size.3
pmem2_vm_reservation_map_find.3
pmem2_vm_reservation_new.3
