[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). 
# fixme - do not fail because of XXX comments
# too-few-public-methods - allow for 'too simple to be good' classes
# e.g. in the unit tests
# too-many-arguments - (X>5) XXX requires consideration
# too-many-instance-attributes - (X>7) XXX requires consideration
# no-self-use - XXX requires consideration
# consider-using-f-string - f-string is not supported on Debian 9 with python v3.5.3 and pylint3 v1.6.5
disable=fixme,too-few-public-methods,too-many-arguments,too-many-instance-attributes,no-self-use,consider-using-f-string


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80

# Maximum number of lines in a module.
max-module-lines=500
