// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2019, Intel Corporation */

/*
 * libpmem2.rc -- libpmem2 resource file
 */

#include <windows.h>
#define FILE_NAME "libpmem2.dll"
#define DESCRIPTION "libpmem2 - persistent memory support library v2 (EXPERIMENTAL)"
#define TYPE VFT_DLL
#include <common.rc>
