// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2016, Intel Corporation */

/*
 * libpmem.rc -- libpmem resource file
 */

#include <windows.h>
#define FILE_NAME "libpmem.dll"
#define DESCRIPTION "libpmem - persistent memory support library"
#define TYPE VFT_DLL
#include <common.rc>
