// SPDX-License-Identifier: BSD-3-Clause
/* Copyright 2016, Intel Corporation */

/*
 * libpmempool.rc -- libpmempool resource file
 */

#include <windows.h>
#define FILE_NAME "libpmempool.dll"
#define DESCRIPTION "libpmempool - pool management library"
#define TYPE VFT_DLL
#include <common.rc>