<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>pmem.io: NVM man page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/manual.css" type="text/css">
	<link rel="stylesheet" href="/css/pygment_trac.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="http://pmem.io/feed.xml" rel="alternate" type="application/atom+xml">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/gist-embed.min.js"></script>
	<script type="text/javascript" src="/nvml/js/nvml_formatter.js"></script>
</head>
<body>

<!-- _layouts/manual.html -->

<div id="wrap">
	<div id="header">
		<a href="http://pmem.io/">
			<h2>pmem.io<br>Persistent Memory Programming</h2>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/glossary/">Glossary</a></li>
			<li><a href="/documents/">Documents</a></li>
			<li><a href="/nvml/" class="sel">NVM&nbsp;Library</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</div>
	<br>
	{% assign dc_title =  page.title | downcase %}	
	{% if dc_title == 'pmempool' or dc_title contains 'pmempool-' %}
	{% else %}
	<div id="shortcut">
		<table id="man">
			<tr><th>Man Linux</th></tr>
			<tr><td><a href="/nvml/manpages/linux/master/{{ dc_title }}.3.html">{{ dc_title }} current master</a></td></tr>
			  {% for release in site.data.releases_linux %}
				{% if release.libs contains dc_title %}
					<tr><td><a href="/nvml/manpages/linux/v{{ release.tag }}/{{ dc_title }}.3.html">{{ dc_title }} version {{ release.tag }}</a></td></tr>
				{% endif %}
			  {% endfor %}
		</table>

		{% if dc_title != 'librpmem' and dc_title != 'rpmemd' and dc_title != 'libvmmalloc' %}
		<table id="man">
			<tr><th>Man Windows</th></tr>
			<tr><td><a href="/nvml/manpages/windows/master/{{ dc_title }}.3.html">{{ dc_title }} current master</a></td></tr>
			  {% for release in site.data.releases_windows %}
				{% if release.libs contains dc_title %}
					<tr><td><a href="/nvml/manpages/windows/v{{ release.tag }}/{{ dc_title }}.3.html">{{ dc_title }} version {{ release.tag }}</a></td></tr>
				{% endif %}
			  {% endfor %}
		</table>
		{% endif %}
	</div>
	{% endif %}

	<h3>{{ dc_title }} - NVML man page</h3>
	{{ content }}
	<br>
	<br>
	<div id="footer">
		<hr>
		{% include pagefooter.html %}
	</div>
</div>
</body>
</html>
