<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>pmem.io: PMDK man page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/manual.css" type="text/css">
	<link rel="stylesheet" href="/css/pygment_trac.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="//pmem.io/feed.xml" rel="alternate" type="application/atom+xml">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/gist-embed.min.js"></script>
	<script type="text/javascript" src="/pmdk/js/pmdk_formatter.js"></script>
	<script type="text/javascript" src="/pmdk/js/menu.js"></script>
	<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>
</head>
<body>

<!-- _layouts/manual.html -->

<div id="wrap">
	<div id="header">
		<a href="//pmem.io/">
			<h2>pmem.io<br>Persistent Memory Programming</h2>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/glossary/" title="Glossary of Terms Used on This Site">Glossary</a></li>
			<li><a href="https://docs.pmem.io/" title="Persistent Memory Documentation">Documents</a></li>
			<li><a href="/pmdk/" title="Persistent Memory Development Kit" class="sel">PMDK</a></li>
			<li><a href="/ndctl/" title="Documentation for ndctl">ndctl</a></li>
			<li><a href="/blog/" title="Persistent Memory Programming Blog">Blog</a></li>
			<li><a href="/about/" title="About This Project">About</a></li>
		</ul>
	</div>
	<br>
	{% assign page_title =  page.title | downcase %}
	{% assign dc_title =  page.collection %}
	{% assign man_name =  dc_title | append:'3.html' %}
	{% if dc_title == 'rpmemd' or dc_title == 'daxio' or dc_title == 'pmreorder' or dc_title == 'pmempool' or dc_title contains 'pmempool-' %}
		{% assign dc_title_ext =  dc_title | append:'.1.html' %}
		{% assign dc_title_ext_old =  dc_title | append:'.1.html' %}
	{% else %}
		{% assign dc_title_ext =  dc_title | append:'.7.html' %}
		{% assign dc_title_ext_old =  dc_title | append:'.3.html' %}
	{% endif %}

	{% if dc_title == 'pmempool' or dc_title == 'poolset' or dc_title == 'rpmemd' or dc_title == 'daxio' or dc_title == 'pmreorder' or dc_title == 'pmem_ctl' %}
		<!-- no libraries -->
	{% else %}
	<div id="shortcut">
		{% assign sys_array = "linux,windows" | split: "," %}
		{% for system in sys_array %}
		<ul id="menu">
			{% if system == "windows" %}
				{% if dc_title == "librpmem" or dc_title == "rpmemd" or dc_title == "libvmmalloc" or dc_title == "daxio" or dc_title == 'pmreorder' %}
					<!-- skip Linux-only components -->
				{% else %}
					<li class="sys_header"><a href="#">{{ system | upcase }}</a></li>
				{% endif %}
			{% else %}
				<li class="sys_header"><a href="#">{{ system | upcase }}</a></li>
			{% endif %}
			{% assign system_rel = system | prepend:'releases_' %}
			{% for release in site.data.[system_rel] %}
				{% if release.libs contains dc_title %}
					{% if release.tag == 'master' %}
						{% assign version_tag = release.tag %}
						{% assign version_name = "" %}
					{% else %}
						{% assign version_tag = release.tag | prepend:'v' %}
						{% assign version_name = "version" %}
					{% endif %}
					<li class="release_tag" ><a href="#">{{ dc_title }} {{version_name}} {{ release.tag }}</a>
						<ul>
							{% if release.func == 'empty' %} <!-- old manpages, not divided into functions-->
									<li><a href="/pmdk/manpages/{{ system }}/v{{ release.tag }}/{{ dc_title_ext_old }}">{{ dc_title }}</a></li>
							{% else %}
								{% if dc_title == "libpmemlog" or dc_title == "libpmemobj" or dc_title == "libpmemblk" or dc_title == "libpmempool" %}
									{% if release.libs contains 'poolset' %}
										<li><a href="/pmdk/manpages/{{ system }}/{{ version_tag }}/poolset/poolset.5">poolset</a></li>
									{% endif  %}
									{% if release.libs contains 'pmem_ctl' %}
										<li><a href="/pmdk/manpages/{{ system }}/{{ version_tag }}/pmem_ctl/pmem_ctl.5">pmem_ctl</a></li>
									{% endif %}
								{% endif %}
								{% if dc_title == "libpmem2" %}
									<li><a href="/pmdk/manpages/{{ system }}/{{ version_tag }}/{{ dc_title }}/libpmem2_unsafe_shutdown.7">libpmem2_unsafe_shutdown</a></li>
								{% endif  %}
								<li><a href="/pmdk/manpages/{{ system }}/{{ version_tag }}/{{ dc_title }}/{{ dc_title_ext }}">{{ dc_title }}</a></li>
								{% assign rev_functions =  release.func.[dc_title] | split: " " %}
								{% for rev_function in rev_functions %}
									{% assign rev_function_no_ext = rev_function | remove:'.3' | remove:'.7' %}
									{% for x in site.data.libs_map %}
										{% assign value_to_rev_func = x.[rev_function_no_ext] %}
										{% if value_to_rev_func != "" and value_to_rev_func != nil %}
											<li><a href="/pmdk/manpages/{{ system }}/{{ version_tag }}/{{ dc_title }}/{{ value_to_rev_func }}">{{ rev_function_no_ext }}</a></li>
										{% endif %}
									{% endfor %}
								{% endfor %}
							{% endif %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
	{% endif %}
	<h4>PMDK man page</h4>
	<h4>{{ page_title }}</h4>
	{{ content }}
	<br>
	<br>
	<div id="footer">
		<hr>
		{% include pagefooter.html %}
	</div>
</div>
</body>
</html>
