<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>pmem.io: NVM Library</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/css/pmem.css" type="text/css">
	<link rel="stylesheet" href="/css/pygment_trac.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="http://pmem.io/feed.xml" rel="alternate" type="application/atom+xml">
</head>
<body>
<!-- _layouts/post.html -->
<div id="wrap">
	<div id="header">
		<a href="http://pmem.io/">
			<h2>pmem.io<br>Persistent Memory Programming</h2>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/glossary/">Glossary</a></li>
			<li><a href="/nvml/" class="sel">NVM&nbsp;Library</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</div>
	<br>
	<h3>NVM Library</h3>
	<br>
	{{ content }}
	<br>
	<br>
	<div id="footer">
		<hr>
		{% include pagefooter.html %}
	</div>
</div>
</body>
</html>
