# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Directory show
        run: echo `pwd`

      # Building PMDK
      - name: Build PMDK
        run: |
          cd pmdk
          make

      # Installing PMDK
      - name: Installing PMDK
        run: |
          cd pmdk
          sudo make install

      - name: Copy config file
        run: cp pmdk/src/test/testconfig.sh.example pmdk/src/test/testconfig.sh

      - name: Run example tests
        run: |
          cd pmdk
          make check