# Validate on default OSes.
name: Main

on:
  workflow_dispatch:
  pull_request:

jobs:
  src_checkers:
    name: Source checkers
    runs-on: ubuntu-latest
    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          # required for `make check-license` to work properly
          fetch-depth: 50

      - name: Install dependencies
        run: sudo pip install flake8

      - name: Check licenses
        env:
          NDCTL_ENABLE: n # just to speed up the job
        run: make -j$(nproc) check-license

      - name: Check style
        env:
          NDCTL_ENABLE: n # just to speed up the job
        run: make -j$(nproc) cstyle


  basic_build:
    name: Basic build
    runs-on: ubuntu-latest
    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get -y install pandoc

      - name: Build sources
        env:
          NDCTL_ENABLE: n # just to speed up the job
        run: make -j$(nproc) test


  call-ubuntu:
    needs: [src_checkers, basic_build]
    uses: ./.github/workflows/ubuntu.yml
    name: Ubuntu

  coverage_scan:
    needs: call-ubuntu
    uses: ./.github/workflows/scan_coverage.yml
    name: Coverage
