# Run less frequently used OSes and checks.
name: Nightly

on:
  workflow_dispatch:
  schedule:
    # run this job at 23:00 UTC every other day
    - cron:  '0 23 */2 * *'
  push:
    tags:
      - '*'

env:
  GITHUB_REPO:    pmem/pmdk
  DOCKER_REPO:    ghcr.io/pmem/pmdk
  HOST_WORKDIR:   /home/runner/work/pmdk/pmdk
  WORKDIR:        utils/docker
  PMDK_CC:        gcc
  PMDK_CXX:       g++
  MAKE_PKG:       0
  VALGRIND:       1
  SRC_CHECKERS:   0

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        CONFIG: [
                 "OS=ubuntu OS_VER=22.04 MAKE_PKG=1 EXPERIMENTAL=y VALGRIND=0",
                 "OS=ubuntu OS_VER=22.04 MAKE_PKG=1 EXPERIMENTAL=y VALGRIND=0 PMDK_CC=clang PMDK_CXX=clang++",
                 "OS=opensuse-leap OS_VER=15 TEST_BUILD=debug",
                 "OS=opensuse-leap OS_VER=15 TEST_BUILD=nondebug",
                 "OS=opensuse-leap OS_VER=15 MAKE_PKG=1 EXPERIMENTAL=y VALGRIND=0",
                 "OS=rockylinux OS_VER=8 TEST_BUILD=debug",
                 "OS=rockylinux OS_VER=8 TEST_BUILD=nondebug",
                 "OS=rockylinux OS_VER=8 MAKE_PKG=1 EXPERIMENTAL=y VALGRIND=0",
                 "OS=rockylinux OS_VER=9 TEST_BUILD=debug",
                 "OS=rockylinux OS_VER=9 TEST_BUILD=nondebug",
                 "OS=rockylinux OS_VER=9 MAKE_PKG=1 EXPERIMENTAL=y VALGRIND=0",
                ]
    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 50

      - name: Get system information
        run: ./$WORKDIR/get-system-info.sh

      - name: Pull or rebuild the image
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./pull-or-rebuild-image.sh rebuild

      - name: Run the build
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./build-CI.sh
