# Run extra checks for making package.
name: PKG_linux

on: [push, pull_request]

jobs:
  linux:
    name: PKG_Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        CONFIG: ["OS=ubuntu OS_VER=22.04",
                 "OS=rockylinux OS_VER=9",
                 "OS=opensuse-leap OS_VER=15"
                ]
    env:
      GITHUB_REPO:    pmem/pmdk
      DOCKER_REPO:    ghcr.io/pmem/pmdk
      HOST_WORKDIR:   /home/runner/work/pmdk/pmdk
      WORKDIR:        utils/docker
      PMDK_CC:        gcc
      PMDK_CXX:       g++
      VALGRIND:       1
      SRC_CHECKERS:   0
      MAKE_PKG:       1

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Pull or rebuild the image
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./pull-or-rebuild-image.sh

      # This step will create docker containers, build pmdk packages and test it.
      - name: Build the CI and test packages
        run: cd $WORKDIR && ${{ matrix.CONFIG }} ./build-CI.sh
