# Run short and medium tests (as defined in test frameworks), equivalent to 'make check'.
#
# This workflow is run on 'self-hosted' runners.
name: PMEM check

on: 
  workflow_dispatch:
  workflow_call:

jobs:
  linux:
    name: PMEM_check
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [[self-hosted, rhel],[self-hosted, opensuse]]
        build: ['debug', 'nondebug']
        # static builds are tested in a limited scope
        include:
          - os: [self-hosted, rhel]
            build: 'static_debug'
          - os: [self-hosted, rhel]
            build: 'static_nondebug'

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          repository: pmem/pmdk

      - name: Test procedure
        uses: ./.github/actions/pmem_test_procedure
        with:
          build: ${{ matrix.build }}


  # Test the fault injection scenarios on PMem
  fault_injection:
    name: PMEM fault injection
    runs-on: [self-hosted, rhel]

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          repository: pmem/pmdk

      - name: Test procedure
        uses: ./.github/actions/pmem_test_procedure
        with:
          build: nondebug # only the production build is considered
          fault_injection: '1'
          test_label: 'fault_injection' # only dedicated scenarios


  # This build is only viable as long as DAOS builds PMDK with NDCTL_ENABLE=n
  # https://github.com/daos-stack/pmdk/pull/12
  ndctl_enable_n:
    name: PMEM NDCTL_ENABLE=n
    runs-on: [self-hosted, rhel]

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3
        with:
          repository: pmem/pmdk

      - name: Test procedure
        uses: ./.github/actions/pmem_test_procedure
        with:
          build: nondebug # only the production build is considered
          ndctl_enable: n
