# Scan the C/C++ code for vulnerabilities using Coverity.
name: Coverity

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      COVERITY_SCAN_NOTIFICATION_EMAIL:
        required: true
      COVERITY_SCAN_TOKEN:
        required: true

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get -y install libndctl-dev libdaxctl-dev

      - name: Skip building doc
        run: touch .skip-doc

      - name: Coverity scan
        uses: vapier/coverity-scan-action@v1
        with:
          email: ${{ secrets.COVERITY_SCAN_NOTIFICATION_EMAIL }}
          token: ${{ secrets.COVERITY_SCAN_TOKEN }}
          command: make -j all
