# Run short and medium tests (as defined in test frameworks).
#
# This workflow is run on 'self-hosted' runners.
name: PMDK_runners

on: [push, pull_request, workflow_dispatch]

jobs:
  linux:
    name: PMDK_runners
    if: github.repository == 'pmem/pmdk'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [[self-hosted, rhel],[self-hosted, opensuse]]
    env:
      WORKDIR: utils/gha-runners

    steps:
      - name: Clone the git repo
        uses: actions/checkout@v3

      - name: Get system information
        run: ./$WORKDIR/get-system-info.sh

      - name: Build
        run: ./$WORKDIR/build-pmdk.sh

      - name: Create testconfig files
        run: ./$WORKDIR/create-testconfig.sh

      - name: Run tests (Bash)
        run: make check

      - name: Run tests (Python)
        run: cd src/test/ && ./RUNTESTS.py -t check
