name: PMDK_runners

on: [push, pull_request]

jobs:
  linux:
    name: PMDK_runners
    if: github.repository == 'pmem/pmdk'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [[self-hosted, rhel]]
    env:
      WORKDIR: utils/gha-runners

    steps:

        - name: Clone the git repo
          uses: actions/checkout@v2

        - name: Get system information
          run: |
            ./$WORKDIR/get-system-info.sh

        - name: Build
          run: |
            ./$WORKDIR/build-pmdk.sh
